<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/Admin.css">
<body>
    <%- include('../includes/admin-navigation.ejs') %>
    <main>
    </main>
</main>
<%- include('../includes/end.ejs') %>