</body>

<footer class="main-footer">
    <nav class="main-footer__nav">
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
            <label>Travel to your destination</label>
            </li>
            
        </ul>
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
                <label>Follow us:</label>
            </li>
            <li class="main-footer__item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="main-footer__item">
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li class="main-footer__item">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square"></i></a>
            </li>
        </ul>
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
                <label>Contact us at:</label>
            </li>
            <li class="main-footer__item">
                <label>Travel@travel.com</label>
            </li>
            <li class="main-footer__item">
                <label>99999 99999</label>
            </li>
        </ul>
    </nav>
</div>

</html>